*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.container{
    padding: 2rem;
}

h1,h2,h3,h4,h5,h6, nav li, footer li{
    font-family: 'Raleway', sans-serif;;
    font-weight: 700;
}

img{
    max-width: 100%;
    /* width: 100%; */
}

h1{
    font-size: 1.4rem;
}

p, small{
    color: hsl(243, 87%, 12%);
    font-weight: 500;
}

h5{
    font-size: 2rem;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li{
    list-style-type: none;
}


nav a{
    text-decoration: none;
    color: darkgray;
    font-weight: 700;
}

.useful-links{
    display: flex;
    align-items: center;
    gap: .4rem;
}

nav img{
    width: 100px;
}

header{
    margin-bottom: 100px;
}

#hero{
    text-align: center;
}

#emailInput{
    width: 100%;
    margin-bottom: 20px;
    padding: 15px 10px;
    border: 2px solid hsl(0, 0%, 66%);
    border-radius: 3px;
    outline: none;
}

#emailInput::placeholder{
    color: hsl(0, 0%, 83%);
    font-weight: 400;
    font-size: 1rem;
}


.hero-btn{
    width: 100%;
    display: block;
    margin-bottom: 20px;
    padding: 15px 10px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(224, 93%, 58%);
    border-radius: 3px;
    border: none;
    font-weight: 700;
    letter-spacing: -1px;
    text-transform: capitalize;
    font-size: 1rem;
}

.hero-btn:hover{
    background-color: hsl(195, 53%, 79%);
    cursor: pointer;
}

#hero .flex-items{
    display: flex;
    flex-direction: column;
}

#hero .flex-items .art{
    order: -1;
}

#hero .flex-items h1{
    margin-bottom: 30px;
}

#hero .flex-items p{
    margin: 20px 0;
    font-weight: 700;
}

main{
    background: url(../images/bg-curve-mobile.svg) no-repeat center center/cover;
    padding: 50px 0;
}

main .flex-items{
    display: flex;
    flex-direction: column;
}

main .flex-items .art{
    order: -1;
    margin-bottom: 50px;
}

main .flex-items h2{
    text-align: center;
    margin-bottom: 20px;
}

main p{
    color: hsl(0, 0%, 75%);
    font-weight: 500;
}

main .main-p2{
    margin: 20px 0;
}

/* 

.container{
    width: 85vw;
    margin: 0 auto;
}

header{
    padding-top: 2rem;
    margin-bottom: 100px;
}



#hero p{
    width: 500px;
    padding: 1rem 0;
}


#hero input{
    border: 1px solid lightgrey;
    padding: 0.5rem 1rem 0.5rem 1rem;
    outline: none;
}

#hero .hero-btn{
    color: hsl(0, 0%, 100%);
    background-color: hsl(224, 93%, 58%);
    border: none;
    width: 150px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    box-shadow: 4px 4px 4px 4px hsla(0, 0%, 0%, 0.034);
}


#hero .hero-btn:hover{
    background-color: hsla(224, 93%, 58%, 0.295);
    transition: all ease-in-out 3s; 
    cursor: pointer;
}


#hero{
    margin-bottom: 100px;
}

.main-p{
    width: 600px;
    padding: 1rem 0;
}






.flex-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.art{
    width: 800px;
} 

.profile img{
    width: 50px;
    border-radius: 100%;
}



.profile{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.small-p a{
    background-image: url(../images/icon-arrow.svg);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
    border-bottom: 2px solid hsl(170, 45%, 43%);
    width: fit-content;
    color: hsl(170, 45%, 43%);
    text-decoration: none;
}

.phone{
    background-image: url(../images/icon-phone.svg);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 40px;
}

.email{
    background-image: url(../images/icon-email.svg);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 40px;
}

.quote{
    max-width: 400px;
    width: fit-content;
    box-shadow: 4px 4px 4px 4px hsla(0, 0%, 0%, 0.144);
    padding: 1rem;
    border-radius: 5px;
    margin-top: 1rem;
}

.warning {
    display: none;
}


.quote p{
    padding: 0.3rem 0;
}
#outro{
    background-color: hsl(238, 22%, 44%);
    color: hsl(0, 0%, 100%);
    padding: 5rem 0;
}

#outro p{
    width: 450px;
    padding: 1rem 0;
}

#outro input{
    width: 100%;
    outline: none;
    padding: 0.5rem 1rem;
    margin-bottom: 0.8rem;
}

#outro .outro-btn{
    background-color: rgba(11, 11, 160, 0.507);
    color: hsl(0, 0%, 100%);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.144);
}

.footer-flex-items {
    display: flex;
    justify-content: space-between;
}

.socials {
    display: flex;
    gap: 10px; 
}

.socials a {
    display: flex;
    align-items: center;
}

.socials img {
    width: 25px; 
    height: 25px; 
    border-radius: 100%;
    overflow: hidden;
    border: .5px solid hsl(0, 0%, 100%);
    padding: .2rem;
}



footer .footer-flex-items{
    display: flex;
    justify-content: space-between;
}

input::placeholder{
    color: hsla(0, 0%, 83%, 0.808);
}

footer{
    background-color: hsl(243, 87%, 12%);
    color: hsl(0, 0%, 100%);
    padding: 6rem 0;
}

footer p, footer li{
    padding: 0.5rem 0;
}

footer li{
    list-style-type: none;
}

footer li a{
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

footer img{
    margin-bottom: 20px;

}
footer img, .socials img{
    filter: brightness(0) invert(1) sepia(1) saturate(5) hue-rotate(180deg);

}

footer p, #outro p{
    color: hsl(0, 0%, 100%);
} */